<app-navbar></app-navbar>
<h2>Today's article</h2>
<hr>
<div *ngFor="let a of articles">
  <a href="{{a.url}}" target="_blank">{{a.title}}</a>: <app-like></app-like>
</div>
<hr>

<div>
  <h2>Article Information</h2>
  <table>
    <tr>
      <td>Title:</td>
      <td><textarea [(ngModel)]="article.title" cols="70"></textarea></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td>
        <textarea [(ngModel)]="article.url" cols="70"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button style="float: right" (click)="addNewArticle()">Add</button></td>
    </tr>
  </table>
</div>
<app-footer></app-footer>
@CodeGym, 2021
